USE [master]
GO
/****** Object:  Database [J3.L.P0018]    Script Date: 11/3/2019 11:58:14 PM ******/
CREATE DATABASE [J3.L.P0018]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3.L.P0018', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\J3.L.P0018.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'J3.L.P0018_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\J3.L.P0018_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3.L.P0018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3.L.P0018]
GO
/****** Object:  Table [dbo].[article]    Script Date: 11/3/2019 11:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[image] [nvarchar](250) NULL,
	[description] [nvarchar](max) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[article] ON 

INSERT [dbo].[article] ([id], [name], [image], [description], [date]) VALUES (1, N'in new york', N'1.jpg', N'asdasdasd', CAST(N'1996-06-29' AS Date))
INSERT [dbo].[article] ([id], [name], [image], [description], [date]) VALUES (2, N'in mexico', N'2.jpg', N'dfgdfgdfgdfgdfg', CAST(N'1997-03-04' AS Date))
INSERT [dbo].[article] ([id], [name], [image], [description], [date]) VALUES (3, N'in chicago', N'3.jpg', N'vbnvbnvnvbnvbn', CAST(N'2014-06-08' AS Date))
SET IDENTITY_INSERT [dbo].[article] OFF
USE [master]
GO
