USE [master]
GO
/****** Object:  Database [J3.L.P0015]    Script Date: 10/28/2019 9:42:40 PM ******/
CREATE DATABASE [J3.L.P0015]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3.L.P0015', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\J3.L.P0015.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'J3.L.P0015_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\J3.L.P0015_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3.L.P0015].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3.L.P0015]
GO
/****** Object:  Table [dbo].[product]    Script Date: 10/28/2019 9:42:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [name], [description], [image]) VALUES (1, N'Highland', N'đậm uống 1 ly thức cả đêm', N'1.jpg')
INSERT [dbo].[product] ([id], [name], [description], [image]) VALUES (2, N'StarBuck', N'như uống nước lã ', N'2.jpg')
SET IDENTITY_INSERT [dbo].[product] OFF
USE [master]
GO
